.layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 0.5em;
    grid-row-gap: 2cm
}
    /* ou somente grid gap */
.noticia {
    background-color: cadetblue;
}

.noticia img {
    width: 100%;
}

.noticia-principal {
    grid-column: 1 / 3;
    grid-row: 2 / span 3;
}
    /* inicio/fim ou spam (vai ate) */
