body {
    align-content: center;
}

.flex {
	display: flex;
    justify-content: center;
    align-content: center;
    background-color: #132e4c;
}

.item {
	background: rgb(252, 252, 252);
    border-radius: 100px;
    align-self: center;
}

.container {
	width: 200px;
    height: 200px;
	margin: 0 auto;
	border: 1px solid #333;
    justify-content: center;
}
